{% extends "base.html" %}

{% load custom_extras %}

{% block content %}
<!-- Titre de la page -->
<h1 class="display-2 m-4 text-capitalize">{{ page }}</h1>

<!-- <div class="d-flex justify-content-center"> -->
    {% for invoice in invoices %}
    <div class="card p-3 m-2" style="width: 50rem;">
        <div class="card-body">
          <h5 class="card-title">{{ invoice.account.full_name }} </h5>
          <h6 class="card-subtitle mb-2 text-muted">Adresse d'expédition: {{ invoice.account.email }}</h6>
          <h6 class="card-subtitle mb-2 text-muted">Adresse de facturation: 53, rue du Four - 75006 Paris</h6>
          <h6 class="card-subtitle mb-2 text-muted">Date de facturation : {{ aujdh|date:"j F Y" }} </h6>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Intitulé(s)</th>
                <th scope="col">Montant(s)</th>
              </tr>
            </thead>
            <tbody>
                {% for item in invoice.expenses %}
                <tr>
                    <td> {{ item.entry.label }} </td>
                    <td> {{ item.amount|floatformat:2 }} €</td>
                </tr>
                {% endfor %}
                {% if invoice.black_and_white_expense != 0 %}
                <tr>
                  <td>Impressions et copies noir et blanc ({{ invoice.prints|blackandwhite }})</td>
                  <td> {{ invoice.black_and_white_expense|floatformat:2 }} €</td>
              </tr>
                {% endif %}
                {% if invoice.color_expense != 0 %}
                <tr>
                  <td>Impressions et copies couleur ({{ invoice.prints|color }})</td>
                  <td> {{ invoice.color_expense|floatformat:2 }} €</td>
              </tr>
              {% endif %}
                <tfoot>
                    <td>Total</td>
                    <td>{{ invoice.total_expenses|floatformat:2 }} €</td>
                </tfoot>
            </tbody>
          </table>
          <a href="{% url 'pdf_invoice' year month invoice.account.id %}" class="card-link">Visualiser la facture</a>
          <a href="{% url 'send_invoice' year month invoice.account.id %}" class="card-link">Expédier la facture</a>
        </div>
      </div>
{% endfor %}
<!-- </div> -->

{% endblock %}